 
body {

}

hr{
  border: none;
  height: 1px;
  color: #333;
  background-color: #333;
}
.page-top{
  margin-top: -70px;
}

.container{
  width: 90%;
}

.navbar {
  margin-bottom: 20px;
  border-radius: 0px;

}

.box{
  border: 1px solid red;
}
.home-headline{
  font-family: 'Times New Roman',Times,Serif;
  font-size: 24px;
  color: #fff;
  margin: auto;
  text-align: center;
  margin-top: -13px;
}

.home-headline span{
  background-color: #231F20;
  padding: 5px 22px;
}

.section-headline{
  font-family: 'Times New Roman',Times,Serif;
  font-size: 24px;
  color: #fff;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.section-headline span{
  background-color: #231F20;
  padding: 5px 22px;

}


/*navbar style*/

.navbar-default {
  background-color: #a32222;
  border-color: #293872;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f8f9f8;
}

.navbar-default .navbar-text {
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f8f9f8;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f8f9f8;
  background-color: #293872;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f8f9f8;
  background-color: #293872;
}

.navbar-default .navbar-toggle {
  border-color: #293872;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #293872;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}

.navbar-default .navbar-link {
  color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
  color: #f8f9f8;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f8f9f8;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f8f9f8;
    background-color: #293872;
  }
}

